/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  :root {
    --mainColor: black;
    --seconColor: white;
    --backgroundColor: yellow;
    --accents: gold;
    --regMargin: 2em;
    --headerheight: 10em;
  
  }
  
  body{
  
    margin:0;
  
  }
  
  header{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--seconColor);
    position: fixed;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    /* overflow: scroll; */
    z-index: 2;
    justify-content: space-between;
    height: var(--headerheight);
  }
  #Hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6em;
    /* max-width: 6em; */
    height: 6em;;
    /* border-style: dashed; */
    background-color: var(--mainColor);
    /* position: fixed;
    top:0px;
    left:0px; */
  }
  
  #Hamburger img{
      width: 2em;
      /* align-self: center; */
  }
  
  label{
    display: none;
  }
  
  form img{
    width: 2em;
  }
  
  h1{
    font-family: 'Palanquin Dark', sans-serif;
    /* max-width: 50%; */
    display: block;
    /* width: 75%; */
    flex-basis: 50%;
    /* padding-top: 26px; */
    /* padding-bottom: 26px; */
    text-align: center;
    margin: 0;
  }
  
  form:first-of-type{
    width: 4em;
    max-width: 6em;
    height: 6em;
    /* border-style: dashed; */
    /* position: absolute;
    right: 0px;
    top: 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #TheGift {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    padding: 1em;
    text-decoration: none;
    /* border-style: none; */
    margin: 0 auto;
  }
  
  #GiftPicture {
    width: 2.5em;
    margin-left: 15px;
  }
  
  header input {
    display: none;
  }
  
  main{
    margin-top: 20vh;
  }
  
  #TheGift span{
    text-align: right;
    font-family: 'Palanquin Dark', sans-serif;
    /* text-decoration: none; */
    font-weight: bold;
    line-height: 1em;
    color: var(--mainColor);
  }
  
  div.menudicht{
    display: none;
  }
  
  div.menu nav{
    height: 100%;
    transition: 2s;
  }
  
  div.menu {
    /* max-width: 100%; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: flex;
    position: fixed;
    top: calc(var(--headerheight) - 4em);
    left: 0;
    z-index: 3;
    bottom: 0;
    right: 0;
  }
  
  div.menu ul{
    /* display: none; */
    list-style-type: none;
    margin: 0;
    padding: 5% 0 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    background-color: var(--mainColor);
    /* align-items: center; */
  }
  
  div.menu li{
    /* flex-basis: 100%; */
    /* height: 11vh; */
    flex-basis: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  div.menu li:last-of-type{
    padding-bottom: 5%;
  }
  
  div.menu a{
    color: var(--seconColor);
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.75em;
    text-decoration: none;
    /* padding:50px; */
  }
  
  div.menu span{
    background-color: var(--mainColor);
    color: var(--seconColor);
    flex-grow: 1;
    flex-basis: 33%;
    text-align: center;
    padding-top: 5%;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 0.8em;
  }
  
  
  @media screen and (min-width:760px){
  
    main{
      margin-top: 11vh;
    }
  
    h1{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  
    form{
      margin-left: 52%;
    }
  
    #TheGift{
  
      margin: 0;
    }
  
    header{
      height: unset;
    }
  
  }
  