/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
  --mainColor: black;
  --seconColor: white;
  --backgroundColor: yellow;
  --accents: gold;
  --regMargin: 2em;

}

body{

  margin:0;

}

header{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--seconColor);
  position: fixed;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  /* overflow: scroll; */
  z-index: 2;
}

a:first-of-type{
  width: 25%;
  max-width: 6em;
  height: 6em;;
  border-style: dashed;
  display: block;
  background-color: var(--mainColor);
  position: fixed;
  top:0px;
  left:0px;
}

h1{
  font-family: 'Palanquin Dark', sans-serif;
  /* max-width: 50%; */
  display: block;
  width: 100%;
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: center;
  margin: 0;
}

form:first-of-type{
  width: 25%;
  max-width: 6em;
  height: 6em;
  border-style: dashed;
  position: absolute;
  right: 0px;
  top: 0px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  background-color: var(--backgroundColor) ;
}

.feed {
width: 90%;
margin: 20px;
border: solid var(--accents) 10px;
/* flex-grow: 1; */

}

#TheGift {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  /* border-style: none; */
}

#GiftPicture {
  width: 2.5em;
  margin-left: 15px;
}

header input {
  display: none;
}

main{
  margin-top: 25vh;
}

#TheGift span{
  text-align: right;
  font-family: 'Palanquin Dark', sans-serif;
  /* text-decoration: none; */
  font-weight: bold;
  line-height: 1em;
  color: var(--mainColor);
}

