/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* --buildingblocks-- */

:root {
  --mainColor: black;
  --seconColor: white;
  --backgroundColor: yellow;
  --accents: gold;
  --regMargin: 2em;
  --headerheight: 10em;
  --font: 'Palanquin Dark', sans-serif;
  --font2: 'Open Sans' , sans-serif;
  --highcontrast: blueviolet
  ;
}

a{
  text-decoration: none;
  color: var(--mainColor);
}

h1{
  font-family: var(--font);
  /* max-width: 50%; */
  display: block;
  /* width: 75%; */
  flex-basis: 50%;
  /* padding-top: 26px; */
  /* padding-bottom: 26px; */
  text-align: center;
  margin: 0;

}

h2{
  font-family: var(--font);
  font-weight: lighter;
  /* font-size: 1.5em; */
  text-align: center;
     /* margin-top: -1em; */
  font-weight: lighter;
  font-size: 2.4em;
  padding: 0.5em;
  line-height: 1em;
  margin:0;
}

h3{
  margin: 0;
  padding: 0 0 25px;
  font-family: var(--font2);
  font-weight: normal;
}

img {
  max-width: 100%;
}

body{

  margin:0;
  background-color: var(--seconColor);
}

/* --header--  */

header{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--seconColor);
  position: fixed;
  align-items: center;
  top: 0px;
  left: 0px;
  right: 0px;
  max-width: 100vw;
  /* overflow: scroll; */
  z-index: 2;
  justify-content: space-between;
  /* height: var(--headerheight); */
  }

#Hamburger{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7em;
  /* max-width: 6em; */
  height: 7.5em;;
  /* border-style: dashed; */
  background-color: var(--mainColor);
  /* position: fixed;
  top:0px;
  left:0px; */
  border: none;
  border-radius: 0px
}

/* --uitkappen hamburger menu-- */

#Hamburger:focus{
  outline: solid 5px var(--backgroundColor);
}

#Hamburger:hover{
  border-bottom: solid 5px var(--accents);
}

#Hamburger img{
  width: 2em;
    /* align-self: center; */
}

.menudicht li:focus{
  
  outline: solid 5px var(--backgroundColor);
}

.menudicht li:hover{
  border-bottom: solid 5px var(--accents);
}

header label{
  display: none;
}

/* --Input Search uitklappen--  */

form img{
  width: 2em;
}

header input {
  display: none;
}

header button{
  outline: none;
  background-color: var(--seconColor);
  border: none;
  /* height: 5px; */
  /* width: 1px; */
}

header button:focus{
  outline: solid 5px var(--backgroundColor);
}

header button:hover{
  border-bottom: solid 5px var(--accents);
}


header input.searching{
  display: inline-block;
  height: 50%;
  width: 100%;
  /* max-width: 33%; */
  position: absolute;
  top: 100%;
  right: 0;
  margin: none;
  padding: 2em;
  border-radius: 0px;
  outline: none;
  border: none;
  background-color: var(--mainColor);
  color: var(--seconColor);
  font-family: var(--font2);
  font-size: 1.6em;
}

header input::placeholder{
  color: var(--seconColor);
  font-family: var(--font2);
  font-size: 1em;
}

form:first-of-type{
  width: 4em;
  max-width: 6em;
  height: 6em;
  /* border-style: dashed; */
  /* position: absolute;
  right: 0px;
  top: 0px; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

a.TheGift {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  padding: 1em;
  text-decoration: none;
  /* border-style: none; */
  margin: 0 auto;
}

img.GiftPicture {
  width: 2.5em;
  margin-left: 15px;
}

a.TheGift span{
  text-align: right;
  font-family: var(--font);
  /* text-decoration: none; */
  font-weight:normal;
  line-height: 1em;
  color: var(--mainColor);
}

/* --animatie TheGift link-- */

@keyframes GiftAnimation{
  0%{
    padding: 1em;
    box-shadow: none;
    border-radius: 0px;
  }
  100%{
    padding: 0.6em;
    box-shadow: 0px 0px 69px gold;
    border-radius: 69px;
  }
}

a.TheGift :hover{
  animation: GiftAnimation;
  animation-duration: 1.5s;
  /* animation-iteration-count: 1; */
  animation-timing-function: cubic-bezier();
}

a.TheGift :focus{
  outline: solid 5px var(--backgroundColor);
  border: none;
}

/* -- main -- */

main.homepage{
  margin-top: 21vh;
}

.homepage section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  background-color: var(--backgroundColor) ;
}

img.feed {
width: calc(100vw - 20px);
margin: 20px;
border: solid var(--accents) 10px;
/* flex-grow: 1; */

}

img.feed:hover{
  border-bottom: solid 5px var(--accents);
}

img.feed img:focus{
  outline: solid 5px var(--backgroundColor);
  /* border: double var(--accents) 5px */
}
/* --main--pagetwo-- */

main.pagetwo{
  margin-top: 25vh;
}

main.pagetwo button{
  border-style: none;
  font-family: var(--font);
  font-size: 1em;
  background-color: var(--seconColor);
  margin-left: 1.2em;
}

main.pagetwo button:first-of-type{
  color:var(--highcontrast);
}

main.pagetwo button:nth-of-type(3){
  color:var(--accents);
}

form.main{
  min-width: 8em;
  max-width: 25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 1em;
  margin-right: 1em;;
}

form.main:first-of-type{
  position: relative;
}

ol.pages {
  display: none;
}

div.filtermenu form:first-of-type{
  flex-grow: 1;
}

div.filtermenu{
    display: flex; 
    position: sticky;
    top: var(--headerheight);
    background-color: var(--seconColor);
    justify-content: flex-start;
    /* margin-left: 1em; */
    flex-wrap: wrap; 
    margin-top: 8vh;
    z-index: 1;
    padding-bottom: 1em;
}

div.filtermenu input{
  width: 100%;
  height: 2.5em;
  border-radius: 0px;
  border: 1px solid grey;
  /* background-image: url(images/loupe.svg);
  /* padding: 0px; */
  /* background-position: .625rem .5rem;
  background-repeat: no-repeat;
  background-size: 1.3rem;
  padding: .75rem .5rem .75rem 2.25rem; */
  /* transition: border .25s,right .25s,width .25s; */
  /* box-shadow: none; */ 
}

form.contentlist{
  max-width: none;
    width: 15em;
    /* margin: -2px; */
    display: flex;
    justify-content: flex-start;
    height: 3em;
}

form.contentlist button{
  padding: 0px;
  width: 10em;
  margin: 0px;
}

form.main select{
  width: 100%;
  height: 2.5em;
  border-radius: 0px;
  border: 1px solid grey;
  /* margin-left: 3em; */
}

form.main label{
  font-family: var(--font);
  font-size: 1.25em;
}


form.main img{
  width: 1rem;
  height: 1rem;
  position: absolute;
  /* margin: 0px; */
  top: 57px;
  left: 7px;
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em 0.5em;
  list-style: none;
  padding: 0px 1em;
}

aside{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li span{
  font-family: var(--font2);
    /* font-size: 0.8em; */
    /* font-weight: normal; */
    color:var(--highcontrast);
  width: 100%;
}

li a{
  text-decoration: underline;
  font-family: var(--font);
  font-size: 0.8em;
  width: 100%;
}

img.linkicon {
  width: 12px;
  height: 12px;
  /* padding: 5px; */
}

/* --footer--  */

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 1em 3em;
}

footer img{
  width: 12em;
  /* padding: 20%; */
  margin: 1.5em 20%;
}

footer img.socialmedia{
  width: 2em;
  margin: 10px 1em;
}

footer a.top{
  text-decoration: none;
  font-family: var(--font2);
  font-size: 1.25em;
  flex-direction: row;
}

footer a.middle{
  /* text-decoration: none; */
  font-family: var(--font2);
  font-size: 1.25em;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

footer ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
  justify-content: center;
  margin-top: 3em;
}

footer li{
  /* text-align: center; */
  font-size: 0.6em;
}

footer span{
  font-family: var(--font2);
  font-size: 1em;
}

footer a.bottom{
  font-family: var(--font);
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 5px;
}

/* --navigatiemenu-- */

div.menudicht{
  display: none;
}

div.menu nav{
  height: 100%;
  transition: 2s;
}

div.menu {
  /* max-width: 100%; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: flex;
  position: fixed;
  top: calc(var(--headerheight) - 4em);
  left: 0;
  z-index: 3;
  bottom: 0;
  right: 0;
}

div.menu ul{
  /* display: none; */
  list-style-type: none;
  margin: 0;
  padding: 5% 0 0;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  background-color: var(--mainColor);
  /* align-items: center; */
}

div.menu li{
  /* flex-basis: 100%; */
  /* height: 11vh; */
  flex-basis: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.menu li:last-of-type{
  padding-bottom: 5%;
}

div.menu a{
  color: var(--seconColor);
  font-family: var(--font);
  font-size: 1.75em;
  text-decoration: none;
  text-align: center;
  /* padding:50px; */
}

div.menu span{
  background-color: var(--mainColor);
  color: var(--seconColor);
  flex-grow: 1;
  flex-basis: 33%;
  text-align: center;
  padding-top: 5%;
  font-family: var(--font);
  font-size: 0.8em;
}

/* --responsiveness-- */

@media screen and (min-width:760px){

  h2{
    font-size: 2em;
  }

  main.homepage{
    margin-top: 12vh;
  }

  main.pagetwo{
    margin-top: 12vh;
    /* display: grid; */
    /* grid-template-columns: 15vw 80vw; */
    /* grid-gap: 1%; */
  }

  main.pagetwo ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-start: 2;
    grid-row-start: 3;
  }

  div.content{
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 3em 4em;
  }

  form.contentlist{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    min-width: 75%;
    height: 3em;
    grid-column-start: 2;
    grid-row-start: 2;
    list-style: none;
    padding-right: 1em;
}
  
  form.contentlist:nth-of-type(2){
    grid-row-start: 4;
  }

  ol.pages {
    display: flex;
    font-family: var(--font);
    flex-wrap: wrap;
    font-size: 0.8em;
    list-style: none;
    align-items: center;
    text-align: center;
  }

  ol.pages li{
    /* margin: 0.25em; */
    height: 2em;
    width: 2em;
  }

  ol.pages li:first-of-type{
    background-color: var(--mainColor);
    color: var(--seconColor);

  }

  h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
  }

  form.header{
    margin-left: 52%;
  }

  a.TheGift{

    margin: 0;
  }

  header{
    height: unset;
    box-shadow: 4px 4px 10px 1px rgb(220 220 220 / 30%);
  }

  div.menu {
    /* max-width: 100%; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: flex;
    position: fixed;
    top: calc(var(--headerheight) - 4em);
    left: 0;
    z-index: 3;
    bottom: 15vh;
    right: 75vw;
  }

  div.filtermenu {
    /* grid-template-columns: 15vw 85vw; */
    position: sticky;
  }

  footer img{
    margin: 1.5em 40%
  }
  
  form.main{
    max-width: 15em;
    min-width: 18vw;
  }

}

@media (prefers-color-scheme: dark){
 root{ --mainColor: white;
  --seconColor: black;
  --backgroundColor: yellow;
  --accents: gold;
 }
}
